body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#buffer-container {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

#connection-lost {
  display: none;
}
